@CHARSET "UTF-8";

#banner {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 120px;
    cursor: pointer;

}

.nav {
    list-style: none;
    position: relative;
    background: #0E0D0D;
    width: 92px;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    line-height: 37px;

    padding: 0;
    float: left;
}
.nav li{
    background: #0E0D0D;
    width: 92px;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    line-height: 37px;


    padding: 0;
    float: left;
}

.nav a {
    display: block;
    width: 92px;
    height: 37px;
    text-decoration: none;
    vertical-align: middle;
}

.nav a:link {
    color: #ffffff
}

.nav a:visited {
    color: #ffffff
}

.nav a:hover {
    color: #CC00FF
}

/*.nav:hover {*/
    /*background: #ffffff;*/
    /*color: #CC00FF;*/
/*}*/
/*.pull_down li{*/
    /*padding: 0;*/
    /*position: relative;*/
    /*!*float: left;*!*/
/*}*/

.pull_down {
    padding: 0;
    display: none;
    position: absolute;
    top:20px;
}

.nav:hover .pull_down{
    display: block;
}

li ul{
    list-style: none;
}



.log {
    background: #0E0D0D;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    color: #ffffff;
    line-height: 37px;
}

.log a {
    width: 92px;
    height: 37px;
    text-decoration: none;
    vertical-align: middle;
}

.log a:link {
    color: #ffffff
}

.log a:visited {
    color: #ffffff
}

.log a:hover {
    color: #CC00FF
}