form{
    margin: 0;
    padding-top: 5px;
}

.inp{
    position: relative;
    left:20px;
    width: 240px;
}

.inp input{
    width: 100px;
}

a {
    position: relative;
    left:70px;
    font-size: small;
}

.button{
    text-align: center;
    width: 100px;
    position: relative;
    left: 50px;
}

.status{
    font-size: x-small;
}

span{
    font-size: x-small;
    color: red;
}

