@CHARSET "UTF-8";

#header {
    border: 0;
}

#content {
    width:100%;
    display:inline-block;

    text-align: center;
}

#page {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#footer {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}


