<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tm.dao.RoleDao">
    <insert id="add" parameterType="role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO roles(role, description) VALUES (#{role}, #{description});
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM roles WHERE id = #{id};
    </delete>
    <update id="update" parameterType="role">
        UPDATE roles SET
        role = #{role},
        description = #{description}
        WHERE id = #{id};
    </update>
    <select id="findByName" parameterType="string" resultType="role">
        SELECT * FROM roles WHERE role = #{role};
    </select>
    <select id="findById" parameterType="int" resultType="role">
        SELECT * FROM roles WHERE id = #{id};
    </select>
    <resultMap id="roleMap" type="role">
        <id property="id" column="id"/>
        <result property="role" column="role"/>
        <result property="description" column="description"/>
    </resultMap>
    <select id="all" resultMap="roleMap">
        SELECT * FROM roles;
    </select>
    <select id="findByUser" parameterType="int" resultType="role">
        SELECT * FROM user_role ur, roles r WHERE ur.user_id = #{userId} and r.id = ur.role_id;
    </select>
</mapper>